spring:
  application:
    name: MARU_EGG_BE
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3316/maru-egg-local
    username: root
    password: maruegg!

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace